---
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import BriefcaseIcon from "../components/Icons/BriefcaseIcon.astro";
import GithubIcon from "../components/Icons/GithubIcon.astro";
import LinkedInIcon from "../components/Icons/LinkedInIcon.astro";
import MailIcon from "../components/Icons/MailIcon.astro";
import ProjectsIcon from "../components/Icons/ProjectsIcon.astro";
import Pill from "../components/Pill.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Tecnologies from "../components/Tecnologies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Porfolio de Manuel Seoane Torrealba - Desarrollador Fullstack">
  <main class="px-4">
    <SectionContainer id="about" class="py-32 pb-22">
      <img
        class="rounded-full size-16 mb-4"
        src="https://media.licdn.com/dms/image/D4D03AQHPQ3KlQ60vDw/profile-displayphoto-shrink_200_200/0/1689826596359?e=1724889600&v=beta&t=qHVcuvB9g6GBvLN5aXAHMHwtRDiu3fEk6FMtTUgevm8"
        alt="my photo"
      />
      <h1
        class="text-blue-700 text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Manuel <a
          href="https://www.linkedin.com/in/manuel-seoane-torrealba-123221263/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>En busqueda de trabajo</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] opacity-80 text-gray-900 dark:text-white">
        Soy una persona curiosa por naturaleza, siempre interesado en saber cómo funcionan las cosas. Esta curiosidad y mis ganas de aprender me llevaron al mundo de la programación, donde descubrí una nueva pasión por el código y sus múltiples aplicaciones. Además de ser programador, también soy profesor particular, lo que me permite compartir mi conocimiento y ayudar a otros a crecer en este campo. Creo firmemente en la capacitación constante como una herramienta esencial para la mejora continua y el desarrollo profesional.
      </h2>
      <nav class="flex flex-wrap gap-4 mt-8">
        <Pill href="https://github.com/ManuelSeoTorr">
          <GithubIcon class="size-4 lg:size-6" />GitHub
        </Pill>
        <Pill
          href="https://www.linkedin.com/in/manuel-seoane-torrealba-123221263/"
        >
          <LinkedInIcon class="size-4 lg:size-6" />LinkedIn
        </Pill>
        <Pill href="mailto:manst94@gmail.com">
          <MailIcon class="size-4 lg:size-6" /> manst94@gmail.com
        </Pill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience" class="scroll-mt-20">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center  text-gray-900 dark:text-white">
        <BriefcaseIcon class="size-8" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="tecnologies" class="scroll-mt-20 py-12 overflow-hidden">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center  text-gray-900 dark:text-white">
        <BriefcaseIcon class="size-8" />
        Tecnologias
      </h2>
      <Tecnologies/>
    </SectionContainer>
    <SectionContainer id="projects" class="scroll-mt-20">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center  text-gray-900 dark:text-white">
        <ProjectsIcon class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
