---
import BriefcaseIcon from './Icons/BriefcaseIcon.astro';
import ArrowIcon from './Icons/ArrowIcon.astro';
import Badge from './Badge.astro';

interface Props {
  title: string;
  description: string;
  date: string;
  link?: string;
  latest: boolean;
}

const { title, description, date, link, latest } = Astro.props;
---

<span
  class="absolute flex items-center justify-center w-6 h-6 bg-indigo-100 rounded-full -start-3  dark:bg-indigo-900"
>
<BriefcaseIcon class="size-4 text-indigo-800 dark:text-indigo-300 "/>
</span>

<h3
  class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"
>
  {title}
  {
    latest && (
      <Badge>
        Reciente
      </Badge>
    )
  }
</h3>
<time
  class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
  >{date}</time
>
<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-pretty">
  {description}
</p>
{
  link && (
    <a
      href={link}
      class="inline-flex items-center gap-x-1 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
    >
      Saber más...
      <ArrowIcon class="size-4"/>
    </a>
  )
}
